[Desktop Entry]
Type=Application
Name=Terminal
GenericName=Terminal Emulator
Comment=VFD terminal profile
Exec=vfdterm
Icon=utilities-terminal
Terminal=false
Categories=System;TerminalEmulator;
StartupNotify=false
StartupWMClass=vfdterm
